#mobile-menu.side-nav
  = yield
  %ul
    %li
      - if user_signed_in?
        = link_to_no_barba 'Logout', sign_out_path, method: :delete
      - else
        %ul
          %li
            = link_to_no_barba 'Login', sign_in_path
          %li
            = link_to_no_barba 'Sign up', sign_up_path
