/* colors */
$imdur: #f4f4f4;
$sunday-morning: #9ba657;
$blank-canvas: #f0e5c9;
$tabby-toe: #a68c69;
$leffe-bottle: #594433;

$base: $blank-canvas;
$base-text-color: $leffe-bottle;
$component-color: $sunday-morning;
$primary-color: $base;
$navbar-font-color: $base-text-color;
$button-raised-background: $component-color;
$switch-bg-color: $component-color;
$switch-checked-lever-bg: $component-color;
$switch-checked-bg: $component-color;
$body-background: $base;
$sidenav-bg-color: $blank-canvas; 
$sidenav-font-color: $leffe-bottle;
$text: #27354A;
